<nav>
			<ul class="text-center">
				<a href="{{ url_for('dashboard') }}" class="btn btn-danger ml-2"><i class="fas fa-bars"></i> Dashboard</a>
				<a href="{{ url_for('add_record') }}" class="btn btn-danger ml-2"><i class="fas fa-plus"></i> Add Record</a>
				<a href="{{ url_for('view_all') }}" class="btn btn-danger ml-2"><i class="fas fa-folder-open"></i> View Record</a>
				<a href="{{ url_for('profile') }}" class="btn btn-danger ml-2"><i class="fas fa-user-circle"></i> Profile</a>
				<a href="{{ url_for('logout') }}" class="btn btn-danger ml-2"><i class="fas fa-power-off"></i> Logout</a>
			</ul>
			<hr />
		</nav>